.btn {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.welcome {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 80px;
  line-height: 100px;
  font-weight: 100;
  margin-bottom: 10px;
}

.subtext {
  margin: 5px 0;
}
