.upload {
  border: 2px dashed rgb(204, 204, 204);
  padding: 20px 50px;
  transition: background-color 0.3s;
  border-radius: 6px;
  height: 148px;
}

.upload:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.colors {
  border: 2px dashed rgb(204, 204, 204);
  padding: 20px 50px;
  border-radius: 6px;
  height: 148px;
}

.selected {
  border: 2px solid rgb(74, 168, 245);
  padding: 20px 50px;
  border-radius: 6px;
  height: 148px;
}

input[type="file"] {
  display: none;
}

.or {
  font-size: 30px;
  font-weight: bold;
}

.subtext {
  text-align: center;
  color: rgb(143, 143, 143);
  text-transform: uppercase;
  font-size: 12px;
}

.upload_btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
