body {
  margin: 0;
  font-family: urw-din, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #cdf4e0 !important; */
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-position: 0% 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
